DATABASE_URL=""
GOOGLE_SHEET_ID=""
GOOGLE_SHEET_RANGE="Sheet1!A:Z"
GOOGLE_SERVICE_ACCOUNT_JSON_PATH="./jewish-christian-text-library-caa65f06d4ec.json"
IMPORT_MAX_FETCH="10"
IMPORT_SKIP_EXISTING="1"
WEB_LOCAL_HTML_DIR="./eng-webbe_html"
